body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 20% 0 20%;
}

.code {
    margin: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding: 10px;
}

.code p {
    margin: 0px;
}

.day_changelog {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px;
    background-color: rgb(246, 246, 246);
}

.day:hover .day_changelog {
    display: block;
}

.day p {
    margin: 5 0 0 10px;
}

.day h5 {
    margin-bottom: 5px;
}