body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 20% 0 20%;
}

.code {
    margin: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding: 10px;
}

.code p {
    margin: 0px;
}